---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout pageTitle="Tags">
  <div class="space-y-4">
    <h2>List of tags</h2>

    <ul class="space-y-4">
      {
        tags.map((tag) => (
          <li>
            <a class="font-bold text-blue-700 hover:text-blue-600" href={tag}>
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
