---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greetings from "../components/Greetings.astro";
---

<BaseLayout pageTitle="Home">
  <div class="space-y-4">
    <img src="./images/bg.jpg" alt="bg" />
    <Greetings messages={["Hej", "Hallo", "Hola", "Habari"]} />
  </div>
</BaseLayout>
