<header>
  <div class="max-w-screen-lg mx-auto px-3 py-4 md:px-0">
    <nav class="flex justify-between items-center">
      <a class="text-blue-700 font-bold text-lg" href="/"> My Blog</a>

      <div class="flex items-center gap-6">
        <a class="font-bold text-gray-900 hover:text-blue-700" href="/">Home</a>
        <a class="font-bold text-gray-900 hover:text-blue-700" href="/about/"
          >About</a
        >
        <a class="font-bold text-gray-900 hover:text-blue-700" href="/blog/"
          >Blog</a
        >
        <a class="font-bold text-gray-900 hover:text-blue-700" href="/tags/"
          >Tags</a
        >
      </div>
    </nav>
  </div>
</header>
